<header id="js-header">
  <div class="container corntainer-header">
    <nav class="main-navigation">
      <ul class="menu">
        <li class="menu-item">
          <a id="homeLink" class="menu link active bounce" href="./index.html"
            >Home</a
          >
        </li>
        <li class="menu-item">
          <a
            id="favoriteLink"
            class="menu link active bounce"
            href="./favorites.html"
            >Favorites</a
          >
        </li>
      </ul>
    </nav>
    <div>
      <a href="index.html" class="logo-tasty">
        tasty<span class="logo-treats">treats.</span>
      </a>
    </div>
    <div class="buttons">
      <div class="butto">
        <button class="button basket-btn">
          <a class="contact" href="tel:+380730000000">
            <svg class="basket_icon" width="24" height="24">
              <use class="icon" href="./images/sprite.svg#basket"></use>
            </svg>
          </a>
        </button>
        <label class="toggle header-toggle-checkbox">
          <input class="toggle-checkbox" type="checkbox" name="switch-theme" />
          <div class="toggle-switch"></div>
          <span class="toggle-label"></span>
        </label>
      </div>
      <button
        type="button"
        class="mobile-menu-open menu-toggle js-open-menu"
        aria-expanded="false"
        aria-controls="mobile-menu"
        id="menu-open"
      >
        <svg class="mobile-menu-open_icon" width="32" height="32">
          <use class="burger" href="./images/sprite.svg#icon-menu"></use>
        </svg>
      </button>
    </div>
    <div class="mobile-menu-new">
      <div class="menu-container js-menu-container" id="mobile-menu">
        <div class="mobile-menu">
          <button class="mobile-menu_close-btn menu-toggle js-close-menu">
            <svg
              class="mobile-menu-open_icon icon-close"
              width="32"
              height="32"
            >
              <use href="./images/sprite.svg#icon-x"></use>
            </svg>
          </button>
          <ul class="mobile-menu-nav list">
            <li class="mobile-menu-nav-item">
              <a
                class="mobile-menu-nav-link link active-mobile"
                href="./index.html"
                >Home</a
              >
            </li>
            <li class="mobile-menu-nav-item">
              <a
                class="mobile-menu-nav-link link active-mobile"
                href="./favorites.html"
                >Favorites</a
              >
            </li>
          </ul>
        </div>
        <label class="toggle menu-toggle-checkbox">
          <input class="toggle-checkbox" type="checkbox" name="switch-theme" />
          <div class="toggle-switch"></div>
          <span class="toggle-label"></span>
        </label>
      </div>
    </div>
  </div>
</header>
