<button id="addrating">Додати рейтинг</button>

  <div id="modal" class="modal">
    <span class="close">&times;</span>
    <span id="ratingCount"></span>
    <form id="ratingForm">
      <div class="stars">
        <label for="star1" class="star"></label>
        <label for="star2" class="star"></label>
        <label for="star3" class="star"></label>
        <label for="star4" class="star"></label>
        <label for="star5" class="star"></label>
      </div>
      <input type="email" id="email" placeholder="Електронна пошта" required>
      <button type="submit">Надіслати</button>