.categories-container {
    width: 200px;
    height: 300px;
    overflow: hidden;
  }
  
  .scroll-content {
    width: 100%;
  }
  
  button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #f0f0f0;
    border: none;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
  }
  
  button.active {
    background-color: #ccc;
  }

@media screen and (min-width: 768px) {
  .сategories.section {
    display: inline-block;
    width: 176px;
    margin: 0;
  }
}

@media screen and (min-width: 1280px) {
  .сategories.section {
    width: 235px;
  }
}
