.favorite-list {
  display: block;
  margin-top: 24px;
}

@media screen and (min-width: 768px) {
  .favorite-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 24px;
    justify-content: flex-start;
    gap: 16px;
    margin-bottom: 64px;
  }
}

@media screen and (min-width: 1280px) {
  .favorite-list {
    margin-top: 32px;
  }
}

#favorites-container .recipe-item {
  margin-bottom: 24px;
  width: 335px;
  height: 335px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  #favorites-container .recipe-item {
    margin-left: 0;
    margin-right: 0;
    width: 224px;
    height: 244px;
  }
}

@media screen and (min-width: 1280px) {
  #favorites-container .recipe-item {
    width: 258px;
    height: 287px;
  }
}

.empty-storage {
  display: block;
  text-align: center;
  margin-top: 164px;
  font-size: 14px;
}

@media screen and (min-width: 768px) {
  .empty-storage {
    display: block;
    text-align: center;
    margin-top: 0px;
    font-size: 14px;
  }
}

@media screen and (min-width: 768px) {
  .empty-storage {
    width: 481px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    font-size: 16px;
  }
}

.cook-hat {
  width: 68px;
  height: 58px;
  margin-bottom: 24px;
}

@media screen and (min-width: 768px) {
  .cook-hat {
    width: 97px;
    height: 83px;
    margin-bottom: 32px;
  }
}

/* .fav-hero {
  display: block;
  width: 100%;
  height: auto;
}

@media screen and (min-width: 768px) {
  .fav-hero {
    display: block;
    width: 100%;
    height: auto;
  }
} */

.is-hidden {
  display: none;
}

.favorite-categories {
  margin-top: 64px;
  margin-bottom: 24px;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.rendered-buttons {
  display: flex;
}

.button-fav {
  max-width: 100%;
  height: 46px;
  border-radius: 15;
  font-size: 14px;
  color: rgba(5, 5, 5, 0.7);
  padding: 14px 18px 14px 18px;
  background-color: var(--primary-white-color);
  border: 1px solid rgba(5, 5, 5, 0.2);
  outline: none;
  cursor: pointer;
}

.dark .button-fav {
  color: rgba(255, 255, 255, 0.5);
  background-color: inherit;
  border-color: rgba(255, 255, 255, 0.5);
}

@media screen and (min-width: 768px) {
  .button-fav {
    font-size: 16px;
  }
}

.button-fav.onActive,
.all-btn.onActive {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.button-fav:hover {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  border-color: var(--accent-color);
}

.list {
  list-style: none;
}
