.toggle {
  cursor: pointer;
}

@media screen and (max-width: 1280px) {
  .container {
    max-width: 1280px;
  }

  .corntainer-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-top: 20px;
  }

  body.light {
    background-color: #f4f4f4;
    color: #333;
  }

  body.dark {
    background-color: #333;
    color: #f4f4f4;
  }
  .dark .menu {
    color: white;
  }
  .menu {
    display: flex;
    text-decoration: none;
    padding-left: 10px;
    font-size: 15px;
    color: var(--primaty-black-color);
  }

  .menu-home {
    color: var(--accent-color);
    text-decoration: none;
  }
  .menu-home:focus,
  .menu-home:hover {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }

  .menu:hover,
  .menu:focus {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }
  .active::after {
    background-color: var(--primaty-black-color);
    display: block;
    content: '';
    position: absolute;
    bottom: 0;
  }

  .menu-link.active {
    color: var(--primaty-black-colo);
  }
  .logo-tasty {
    color: var(--accent-color);
    text-decoration: none;
    /* padding-top: 13px;*/
    margin-left: auto;
  }
  .logo-treats {
    color: var(--primaty-black-color);
    font-size: 18px;
    font-weight: 500;
  }
  .dark .logo-treats {
    color: white;
  }
  .dark .icon {
    background: transparent;
    fill: #333;
    color: #fff;
  }
  .button {
    border: none;
    background: transparent;
    fill: #fff;
  }
  .toggle {
    cursor: pointer;
  }
  .toggle-checkbox:checked + .toggle-switch {
    background: #56c080;
  }
  .toggle-switch {
    box-shadow: 10px 7px 4px rgba(46, 47, 66, 0.08),
      4px 3px 4px rgba(46, 47, 66, 0.16), 3px 2px 4px rgba(46, 47, 66, 0.08);
    display: inline-block;
    background: #ccc;
    border-radius: 16px;
    width: 50px;
    height: 24px;
    position: relative;
    vertical-align: middle;
    transition: background 0.25s;
  }
  .toggle-switch:before,
  .toggle-switch:after {
    content: '';
  }
  .toggle-switch:before {
    display: block;
    background: linear-gradient(to bottom, #fff 0%, #eee 100%);
    border-radius: 50%;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
    width: 14px;
    height: 14px;
    position: absolute;
    top: 4px;
    left: 4px;
    transition: left 0.25s;
  }
  .toggle:hover .toggle-switch:before {
    background: linear-gradient(to bottom, #fff 0%, #fff 100%);
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
  }
  .toggle-checkbox:checked + .toggle-switch {
    background: var(--accent-color);
  }
  .toggle-checkbox:checked + .toggle-switch:before {
    left: 30px;
  }

  .toggle-checkbox {
    position: absolute;
    visibility: hidden;
  }

  .toggle-label {
    margin-left: 5px;
    position: relative;
    top: 2px;
  }
  .buttons {
    display: flex;
  }

  .butto {
    display: flex;
  }
}

@media screen and (min-width: 1201px) {
  .mobile-menu-new {
    display: none;
  }
  .mobile-menu-open_icon {
    display: none;
  }
  .mobile-menu-open {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .container {
    min-width: 375px;
    max-width: 478px;
  }
  .main-navigation {
    display: none;
  }

  .butto {
    display: flex;
    align-items: flex-end;
  }
  .mobile-menu-open {
    border: none;
    background-color: transparent;
  }
  .mobile-menu-open_icon {
    background-color: transparent;
  }
  .dark .mobile-menu-open_icon{
      fill: white;
  }
  .toggle {
    bottom: auto;
  }
  .mobile-menu-new {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--primary-color-white);
    visibility: hidden;
    pointer-events: none;
    transition: color var(--transition) cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu-container {
    position: relative;
    height: 100vh;
    background-color: var(--accent-color);
    opacity: 0;
    visibility: hidden;
    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
    padding: 80px 15px 40px 40px;
  }
  .menu-container.is-open {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
    z-index: 999;
    pointer-events: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .mobile-menu_close-btn {
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 35px;
    right: 35px;
    border: none;
    padding: 0;
    line-height: 0;
    background-color: var(--accent-color);
  }
  .mobile-menu-contacts {
    margin-top: calc(47vh - 35px);
    display: block;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #434455;
    transition: color var(--transition) cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: background-color;
    transition-duration: 250ms;
  }
  .mobile-menu-open_icon {
    border: none;
  }
  .mobile-menu-nav-link {
    text-decoration: none;
    display: flex;
    padding-top: 50px;
    color: #fff;
  }
  .mobile-menu-nav {
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
  }

  .toggle-checkbox:checked + .toggle-switch {
    background: #56c080;
  }
  .toggle-switch {
    box-shadow: 10px 7px 4px rgba(46, 47, 66, 0.08),
      4px 3px 4px rgba(46, 47, 66, 0.16), 3px 2px 4px rgba(46, 47, 66, 0.08);
    display: inline-block;
    background: #ccc;
    border-radius: 16px;
    width: 50px;
    height: 24px;
    position: relative;
    vertical-align: middle;
    transition: background 0.25s;
  }
  .toggle-switch:before,
  .toggle-switch:after {
    content: '';
  }
  .toggle-switch:before {
    display: block;
    background: linear-gradient(to bottom, #fff 0%, #eee 100%);
    border-radius: 50%;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
    width: 14px;
    height: 14px;
    position: absolute;
    top: 4px;
    left: 4px;
    transition: left 0.25s;
  }
  .toggle:hover .toggle-switch:before {
    background: linear-gradient(to bottom, #fff 0%, #fff 100%);
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
  }
  .toggle-checkbox:checked + .toggle-switch {
    background: #ccc;
  }
  .toggle-checkbox:checked + .toggle-switch:before {
    left: 30px;
  }

  .toggle-checkbox {
    position: absolute;
    visibility: hidden;
  }

  .toggle-label {
    margin-left: 5px;
    position: relative;
    top: 2px;
  }
  .toggle-switch {
    display:none;
}
}


@media screen and (min-width: 768px) {
  .container {
    min-width: 768px;
  }
  .mobile-menu-new{
    display: none;
  }
  .mobile-menu-open_icon{
    display: none;
  }
  .mobile-menu-open{
    display:none;
  }

}
