.container{
display: flex;
}
  .menu{
    display: flex;
    text-decoration: none;
    padding-left: 10px;
   font-size: 15px;
  }

.menu-home{
  color:var(--accent-color);
    text-decoration: none;   
}
.menu-home:focus,
.menu-home:hover{
    text-shadow:-1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.menu{
    color:var(--primaty-black-color);
}
.menu:hover,
.menu:focus{
    text-shadow:-1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.active::after {
    background-color:var(--primaty-black-color);
    display: block;
    content: "";
    position: absolute;
    bottom: 0;
  }

  .menu-link.active {
    color: var(--primaty-black-colo);
  }
.logo-tasty{
    color:var(--accent-color);
    text-decoration: none;
    padding-top: 13px;
    margin-left: auto;
}
.logo-treats{
color:var(--primaty-black-color);
font-size: 18px;
font-weight:500
}
.button{
    border: none;
    background: transparent;
}
.toggle {
    cursor: pointer;
    display: inline-block;
  }
  .toggle-checkbox:checked + .toggle-switch {
    background: #56c080;
  }
.toggle-switch {
    box-shadow: 10px 7px 4px rgba(46, 47, 66, 0.08), 4px 3px 4px rgba(46, 47, 66, 0.16), 3px 2px 4px rgba(46, 47, 66, 0.08);
    display: inline-block;
    background: #ccc;
    border-radius: 16px;
    width: 50px;
    height: 24px;
    margin-top: 10px;
    position: relative;
    vertical-align: middle;
    transition: background 0.25s;
  }
  .toggle-switch:before, .toggle-switch:after {
    content: "";
  }
  .toggle-switch:before {
    display: block;
    background: linear-gradient(to bottom, #fff 0%, #eee 100%);
    border-radius: 50%;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
    width: 14px;
    height:14px;
    position: absolute;
    top: 4px;
    left: 4px;
    transition: left 0.25s;
  }
  .toggle:hover .toggle-switch:before {
    background: linear-gradient(to bottom, #fff 0%, #fff 100%);
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
  }
  .toggle-checkbox:checked + .toggle-switch {
    background:var(--accent-color);
  }
  .toggle-checkbox:checked + .toggle-switch:before {
    left: 30px;
  }
  
  .toggle-checkbox {
    position: absolute;
    visibility: hidden;
  }
  
  .toggle-label {
    margin-left: 5px;
    position: relative;
    top: 2px;
  }
  .buttons{
    display: flex;

  }