.modal {
  display: flex;
  justify-content: center;
  
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fefefe;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border: 1px solid #888;
  width: 440px;
  height: 632px;
  border-radius: 15px;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.modal-input-container {
  width: 360px;
  height: 402px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

@media (max-width: 480px) {
  .modal-input-container {
    width: 295px;
    height: 390px;
  }
}

.modal-input {
  margin-bottom: 10px;
}

.modal-input label {
  display: block;
  margin-bottom: 5px;
}

.modal-input input,
.modal-input textarea {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 15px;
  box-sizing: border-box;
}

@media (max-width: 480px) {
  .modal-input input,
  .modal-input textarea {
    font-size: 14px;
    padding: 0.5rem;
  }
}

.modal-btn {
  margin-top: 94px;
  width: 329px;
}




.modal-btn button {
  
  width: 329px;
  padding: 15px 162px;
  border-radius: 15px;
  background: #9bb537;
  border: none;
  color: #fff;
  cursor: pointer;
  bottom: 20px;
}
@media (min-width: 1440px) {
  .modal-btn button {
    width: 390px;
    margin-top: 40 px;
    
  }
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

@media (max-width: 1024px) {
  .modal-content {
    width: 360px;
    height: 577px;
  }
}

@media (max-width: 480px) {
  .modal-content {
    width: 329px;
    height: 554px;
    margin: 10px auto;
    padding: 10px;
  }

  .modal-input input,
  .modal-input textarea {
    font-size: 14px;
  }

  .modal-btn button {
    font-size: 14px;
  }
}
