.modal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 300px;
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 20px;
  }
  
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }
  .stars {
    display: flex;
    gap: 5px;
  }
  .star {
    width: 24px;
    height: 24px;
    background-image: url(https://png.pngtree.com/png-vector/20220613/ourmid/pngtree-isolated-gray-star-icon-png-image_5064306.png);
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
  }
  
  .star:hover,
  .star.checked {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/1/1b/Yellow_Star_with_rounded_edges.svg/2150px-Yellow_Star_with_rounded_edges.svg.png);
  }