<section class="hero">
  <div class="hero-info">
    <h1 class="hero-title">
      Learn to Cook
      <span class="hero-title-span">Tasty Treats'</span> Customizable
      Masterclass
    </h1>
    <p class="hero-under-title">
      TastyTreats - Customize Your Meal with Ingredient Options and Step-by-Step
      Video Guides.
    </p>
    <button class="order-now-btn" type="button">Order now</button>
  </div>

  <div class="hero-slider">
    <div class="swiper">
      <div class="swiper-wrapper"></div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
