<div id="modal" class="modal">
    <div class="modal-content">
        <div class="close-btn">&times;</div>
        <div class="modal-header">
            <h2>ORDER NOW</h2>
        </div>
        <div class="modal-input">
            <label for="name">Name:</label>
            <input type="text" id="name" placeholder="Enter your name">
        </div>
        <div class="modal-input">
            <label for="phone">Phone number:</label>
            <input type="tel" id="phone" placeholder="Enter your phone number">
        </div>
        <div class="modal-input">
            <label for="email">Email:</label>
            <input type="email" id="email" placeholder="Enter your email">
        </div>
        <div class="modal-input">
            <label for="comment">Comment:</label>
            <textarea id="comment" placeholder="Enter your comment"></textarea>
        </div>
        <div class="modal-btn">
            <button id="send-btn">Send</button>
        </div>
    </div>
</div>