<div class="backdrop-recipes is-hidden-modal">
  <div id="scroll-rec" class="modal-recipes is-hidden-modal">
    <div class="modal-recipes-js"></div>
    <button class="close-modal">
      <svg class="close-modal-ico" width="20" height="20">
        <use href="./images/sprite.svg#icon-x"></use>
      </svg>
    </button>
    <div class="scroll-box"></div>
    <button class="save-recipes-btn">Add to favorite</button>
  </div>

  <div class="order-now-modal js-order-form is-hidden-modal">
    <button class="close-modal">
      <svg class="close-modal-ico" width="20" height="20">
        <use href="./images/sprite.svg#icon-x"></use>
      </svg>
    </button>
    <b class="order-now-title">Order now</b>
    <form class="order-now-form">
      <label class="order-now-formfield">
        <span class="order-now-name">Name</span>
        <input name="name" class="order-now-input js-input-name" />
      </label>
      <label class="order-now-formfield">
        <span class="order-now-name">Phone number</span>
        <input name="tel" class="order-now-input js-input-tel" />
      </label>
      <label class="order-now-formfield">
        <span class="order-now-name">Email</span>
        <input name="email" class="order-now-input js-input-email" />
      </label>
      <label class="order-now-formfield">
        <span class="order-now-name">Comment</span>
        <textarea
          class="order-now-textarea js-input-comment"
          name="comment"
        ></textarea>
      </label>
      <button
        type="submit"
        name="send"
        class="send-order-btn js-order-btn"
        disabled="true"
      >
        Send
      </button>
    </form>
  </div>
</div>
