<!-- <div class="backdrop-recipes is-hidden"> -->
<div class="backdrop-recipes">
  <!-- <div id="scroll-rec" class="modal-recipes">
    <div class="modal-recipes-js"></div>
    <button class="close-modal">
      <svg class="close-modal-ico" width="20" height="20">
        <use href="./images/sprite.svg#icon-x"></use>
      </svg>
    </button>
    <div class="scroll-box"></div>
    <button class="save-recipes-btn">Add to favorite</button>
  </div> -->

  <div class="order-now-modal js-order-form">
    <button class="close-modal">
      <svg class="close-modal-ico" width="20" height="20">
        <use href="./images/sprite.svg#icon-x"></use>
      </svg>
    </button>
    <b class="order-now-title">Order now</b>
    <form class="order-now-form">
      <label class="order-now-formfield">
        <span class="order-now-name">Name</span>
        <input
          type="text"
          name="name"
          class="order-now-input js-order-input"
          required
        />
      </label>
      <label class="order-now-formfield">
        <span class="order-now-name">Phone number</span>
        <input
          type="tel"
          name="tel"
          class="order-now-input js-order-input"
          required
        />
      </label>
      <label class="order-now-formfield">
        <span class="order-now-name">Email</span>
        <input
          type="email"
          name="email"
          class="order-now-input js-order-input"
          pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
          required
        />
      </label>
      <label class="order-now-formfield">
        <span class="order-now-name">Comment</span>
        <textarea class="order-now-textarea" name="comment"></textarea>
      </label>
      <button
        type="submit"
        name="send"
        class="send-order-btn js-order-btn"
        disabled="true"
      >
        Send
      </button>
    </form>
  </div>
</div>
