<div class="search-res-container">
  <section class="input-section">
    <div class="wrapper">
      <div class="search-wrapper">
        <label for="search-input" class="search-label">Search</label>
        <div class="search-input-wrapper">
          <span class="search-icon">
            <img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQloeTaVjefAZgEacxr31qlBg9pFvTF1Tg7qvyxm6Rv9plF4Z1TrKibKolFAHBT-Vlh64o&usqp=CAU"
              alt="Search"
            />
          </span>
          <input
            type="text"
            id="search-input"
            class="search-input"
            placeholder="Enter Text"
          />
        </div>
      </div>
    </div>
  </section>

  <section>
    <div id="image-container" class="image-container"></div>
  </section>
  <div id="pagination" class="tui-pagination"></div>
</div>
