<div class="search-res-container">
  <section class="input-section">
    <div class="wrapper">
      <div class="search-wrapper">
        <label for="search-input" class="search-label">Search</label>
        <div class="search-input-wrapper">
          <svg class="search-icon" width="15" height="15">
            <use href="./images/sprite.svg#search"></use>
          </svg>
          <input
            type="text"
            id="search-input"
            class="search-input"
            placeholder="Enter Text"
          />
          </div>
          <div id="spinner" class="spinner">
            <div class="spinner-icon"></div>
          </div>
      </div>
    </div>
  </section>

  <section>
    <div id="image-container" class="image-container"></div>
  </section>
  <div id="pagination" class="tui-pagination"></div>
</div>
