<div class="search-res-container light-theme-add">
  <section class="input-section">
    <div class="wrapper">
      <div class="search-wrapper">
        <label for="search-input" class="search-label">Search</label>
        <div class="search-input-wrapper">
          <svg class="search-icon" width="15" height="15">
            <use href="./images/sprite.svg#search"></use>
          </svg>
          <input
            type="text"
            id="search-input"
            class="search-input"
            placeholder="Enter Text"
          />
        </div>
      </div>
    </div>
    <div>
      <label class="search-label">Time</label>
      <select class="list-time list-filter">
        <option value="1">5 min</option>
        <option value="2">10 min</option>
        <option value="3">15 min</option>
        <option value="4" selected>20 min</option>
        <option value="5">25 min</option>
        <option value="6">30 min</option>
        <option value="7">35 min</option>
        <option value="8">40 min</option>
        <option value="9">45 min</option>
        <option value="10">50 min</option>
        <option value="11">55 min</option>
        <option value="12">60 min</option>
        <option value="13">65 min</option>
        <option value="14">70 min</option>
        <option value="15">75 min</option>
        <option value="16">80 min</option>
        <option value="17">85 min</option>
        <option value="18">90 min</option>
        <option value="19">95 min</option>
        <option value="20">100 min</option>
        <option value="21">105 min</option>
        <option value="22">110 min</option>
        <option value="23">115 min</option>
        <option value="24">120 min</option>
      </select>
    </div>
    <div>
      <label class="search-label">Area</label>
      <select class="list-area list-filter">
        <!-- Опції списку областей -->
      </select>
    </div>
    <div>
      <label class="search-label">Ingredients</label>
      <select class="list-ingred list-filter">
        <!-- Опції списку інгредієнтів -->
      </select>
    </div>

    <div id="spinner" class="spinner">
      <div class="spinner-icon"></div>
    </div>
  </section>

  <section>
    <div id="image-container" class="image-container"></div>
  </section>

  <div id="pagination" class="tui-pagination"></div>
</div>
