@import '~node_modules/modern-normalize/modern-normalize.css';

* {
  box-sizing: border-box;
}

body {
  font-size: 20px;
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
