<section>
  <div class="container">
    <img
      class="f-hero-img"
      srcset="
        ./images/favorites/card335px-mob@1x.webp    335w,
        ./images/favorites/card670px-mob@2x.webp    670w,
        ./images/favorites/card704px-tab@1x.webp    704w,
        ./images/favorites/card1408px-tab@2x.webp  1408w,
        ./images/favorites/card1080px-desk@1x.webp 1080w,
        ./images/favorites/card2160px-desk@2x.webp 2160w
      "
      sizes="(min-width: 1210px) 1080px, (min-width: 768px) 704px, (min-width: 320px) 335px, 100vw"
      src="./images/favorites/card704px-tab@1x.webp"
      alt=""
    />
    <!-- <img src="./images/favorites/card704px-tab@1x.webp" alt="" /> -->
  </div>
</section>
