<section>
  <div class="container wrapp-fav">
    <div class="fav-hero">
      <!-- <picture>
      <source
        media="(min-width:1280px)"
        srcset="
          ./images/favorites/card1080px-desk@1x.webp 1x,
          ./images/favorites/card2160px-desk@2x.webp 2x
        "
      />
      <source
        media="(min-width:768px)"
        srcset="
          ./images/favorites/card704px-tab@1x.webp  1x,
          ./images/favorites/card1408px-tab@2x.webp 2x
        "
      />
      <source
        media="(max-width:767px)"
        srcset="
          ./images/favorites/card335px-mob@1x.webp 1x,
          ./images/favorites/card670px-mob@2x.webp 2x
        "
      />
      <img src="./images/favorites/card704px-tab@1x.webp" alt="dish" />
    </picture> -->
    </div>
  </div>
</section>
