<section>
  <div class="container">
    <ul class="favorite-categories"></ul>
    <ul class="favorite-list"></ul>
    <div class="empty-storage">
      <svg class="cook-hat" width="68" height="58">
         <use href="./images/sprite.svg"></use>
      </svg>
      <p class="empty-storage-txt" hidden>It appears that you haven't added any recipes to your favorites yet. To get started, you can add recipes that you like to your favorites for easier access in the future.</p>
    </div>
  </div>
</section>